body {
  margin: 0;
  font-family: gibson-regular, Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  background: #fbfcfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 280px;
  margin: 0 auto;
  max-width: 940px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    width: 620px;
  }
  .checkmark {
    left: 35%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 940px; }
  .checkmark {
    left: 40%;
  }
}

.pwd-generation {
  text-align: center;
  margin: 20px auto;
}
.pwd-generation fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pwd-generation legend {
  font-size: 20px;
  color: #25312f;
  font-weight: bold;
  margin-bottom: 20px;
}
.result {
  min-width: 100%;
  font-size: 22px;
  border-color: #424f35;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 5px;
  border-radius: 5px;
  background: #a3c1b4;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7a8b65;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #7a8b65;
  cursor: pointer;
}
.slider-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pwd-length {
  border: 1px solid #424f35;
  height: 50px;
  width: 75px;
  display: block;
  box-sizing: border-box;
  padding-top: 14px;
  font-size: 18px;
}

.pwd-generation fieldset button {
  display: block;
  margin: 45px auto 0 auto;
  text-transform: capitalize;
  padding: 15px 50px;
  text-align: center;
  background-color: #c2b2a5;
  border: none;
  font-size: 22px;
  color: #25312f;
}
.pwd-generation fieldset button:active {
  background-color: #8e6a55;
}
.pwd-generation fieldset label {
  margin: 20px 0;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pwd-generation fieldset label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 20%;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
@media (min-width: 768px) {
  .checkmark {
    left: 35%;
  }
}
@media (min-width: 1200px) {
  .checkmark {
    left: 40%;
  }
}
.pwd-generation fieldset label:hover input[type="checkbox"] ~ .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.pwd-generation fieldset label input[type="checkbox"]:checked ~ .checkmark {
  background-color: #424f35;
}
.pwd-generation fieldset label input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}
.pwd-generation fieldset label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
